@media (max-width: 750px) {
    
    .container-imgs img{
        flex: 0 0 calc((100% - (var(--gapSlider) * 2)) / 3);
    }

    .header-Top-end, .menu{
        display: none;
    }

    .header-Top{
        height: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-celular{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
    }


    .menu-celular .icon{
        font-size: 32px;
    }
}